# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*
*.dylib

# Executables
physengine
*.exe
*.out
*.app

# Junk files
./*.xyz
./*.log
Makefile
Makefile.in
./Makefile
./Makefile.in
missing
compile
config.status
config.log
aclocal.m4
depcomp
install-sh
./src/stamp-h1
./src/config.h
./src/config.h.in~
.deps
.deps/*
.directory
core.*
